<div class="row">
  <div class="col-xs-12" class="table-responsive">
    <table class="table table-striped table-outside-bordered" id="accordion">
      <thead>
        <tr>
          <th></th>
          <th>Pos</th>
          <th>Name</th>
          <th>Username</th>
          <th class="text-right">Batting Points</th>
          <th class="text-right">Bowling Points</th>
          <th class="text-right">Fielding Points</th>
          <th class="text-right">Total Points</th>
        </tr>
      </thead>
      <tbody *ngFor="let userPoints of leaderboardList; index as s;">
        <tr>
          <td>
            <a role="button" class="expandAnchor" data-toggle="collapse" data-parent="#accordion" [href]="'#collapse' + s" aria-expanded="true" aria-controls="collapseOne">
              <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
          </td>
          <td>{{s+1}}</td>
          <td>{{userPoints.name}}</td>
          <td>{{userPoints.username}}</td>
          <td class="text-right">{{userPoints.totalPoints.battingsPts}}</td>
          <td class="text-right">{{userPoints.totalPoints.bowlingPts}}</td>
          <td class="text-right">{{userPoints.totalPoints.fieldingPts}}</td>
          <td class="text-right">{{userPoints.totalPoints.totalPts}}</td>
        </tr>
        <tr>
          <td colspan="8" class="expanded-td">
            <div [id]="'collapse' + s" class="panel-collapse collapse expanded-panel" role="tabpanel" aria-labelledby="headingOne">
              <div class="col-xs-12 text-white pd-bottom-10">
                <i class="glyphicon glyphicon-hand-right"></i>
                <span class="pd-left-10">Only players added matches are shown.</span>
              </div>
              <div class="col-xs-12 text-white pd-bottom-10 text-center" *ngIf="!userPoints.allMatchPoints">
                <span class="pd-left-10">No matches available.</span>
              </div>
              <table class="table expanded-bc" *ngIf="userPoints.allMatchPoints">
                <thead>
                  <tr>
                    <th>Match Against</th>
                    <th class="text-right">Batting Points</th>
                    <th class="text-right">Bowling Points</th>
                    <th class="text-right">Fielding Against</th>
                    <th class="text-right">Total Match Points</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let matchPoints of userPoints.allMatchPoints; index as u;">
                    <td>{{matchPoints.opposition}}</td>
                    <td class="text-right">{{matchPoints.totalPoints.battingsPts}}</td>
                    <td class="text-right">{{matchPoints.totalPoints.bowlingPts}}</td>
                    <td class="text-right">{{matchPoints.totalPoints.fieldingPts}}</td>
                    <td class="text-right">{{matchPoints.totalPoints.totalPts}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
