<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-12">
      <h3>How it works?</h3>
      <ul class="points-system">
        <li>
          <i class="glyphicon glyphicon-hand-right"></i>
          <span class="pd-left-10">Each player can be selected at max 8 matches.</span>
        </li>
        <li>
          <i class="glyphicon glyphicon-hand-right"></i>
          <span class="pd-left-10">Players selection or modification can be done until the match gets locked (30 min prior match time).</span>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-primary fantasy-background fantasy-color">
        <div class="panel-heading">
          <h3 class="panel-title"><b>Batting Points</b></h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <tr>
              <td>Each run</td>
              <td class="text-right">+1</td>
            </tr>
            <tr>
              <td>Runs (20 - 29)</td>
              <td class="text-right">+5</td>
            </tr>
            <tr>
              <td>Runs (30 - 50)</td>
              <td class="text-right">+10</td>
            </tr>
            <tr>
              <td>Runs 50+</td>
              <td class="text-right">+15</td>
            </tr>
            <tr>
              <td>Each 6</td>
              <td class="text-right">+2</td>
            </tr>
            <tr>
              <td>Each 4</td>
              <td class="text-right">+1</td>
            </tr>
            <tr>
              <td>Duck</td>
              <td class="text-right">-5</td>
            </tr>
            <tr>
              <td>Strike rate (100 - 119.99)</td>
              <td class="text-right">+5</td>
            </tr>
            <tr>
              <td>Strike rate (120 - 149.99)</td>
              <td class="text-right">+10</td>
            </tr>
            <tr>
              <td>Strike rate 150+</td>
              <td class="text-right">+15</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-primary fantasy-background fantasy-color">
        <div class="panel-heading">
          <h3 class="panel-title">Bowling Points</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <tr>
              <td>Each wicket</td>
              <td class="text-right">+10</td>
            </tr>
            <tr>
              <td>2 wickets</td>
              <td class="text-right">+5</td>
            </tr>
            <tr>
              <td>3 wickets</td>
              <td class="text-right">+10</td>
            </tr>
            <tr>
              <td>4 wickets</td>
              <td class="text-right">+15</td>
            </tr>
            <tr>
              <td>5+ wickets</td>
              <td class="text-right">+20</td>
            </tr>
            <tr>
              <td>Economy less than 4</td>
              <td class="text-right">+15</td>
            </tr>
            <tr>
              <td>Economy (4-4.99)</td>
              <td class="text-right">+10</td>
            </tr>
            <tr>
              <td>Economy (5-5.99)</td>
              <td class="text-right">+5</td>
            </tr>
            <tr>
              <td>Economy 8+</td>
              <td class="text-right">-5</td>
            </tr>
            <tr>
              <td>Maiden over</td>
              <td class="text-right">+5</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-primary fantasy-background fantasy-color">
        <div class="panel-heading">
          <h3 class="panel-title">Fielding Points</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <tr>
              <td>Catch</td>
              <td class="text-right">+5</td>
            </tr>
            <tr>
              <td>Stumping</td>
              <td class="text-right">+10</td>
            </tr>
            <tr>
              <td>Runout</td>
              <td class="text-right">+5</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-primary fantasy-background fantasy-color">
        <div class="panel-heading">
          <h3 class="panel-title">Other Points</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <tr>
              <td>Captain</td>
              <td class="text-right">2X match points</td>
            </tr>
            <tr>
              <td>MV Batsman</td>
              <td class="text-right">2X batting points</td>
            </tr>
            <tr>
              <td>MV Bowler</td>
              <td class="text-right">2X bowling points</td>
            </tr>
            <tr>
              <td>MV Fielder</td>
              <td class="text-right">2X fielding points</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
