.fantasy-wrapper {
  background-color: #EBEDEF;
  min-height: 100%;
}

.navbar-inverse {
  background-color: #154360;
  /*border-color: #212F3C;*/
  color: #fafafa;
  /*padding: 0 30px;*/
}

.navbar-brand {
  color: #fafafa;
  font-size: 18px;
  font-weight: bold;
  font-family: Helvetica;
}

.navbar-nav li a{
  color: #fafafa;
}

.nav-outlet {
  padding: 100px 150px;
  margin: auto;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #0A202D;
}

@media only screen and (max-width: 768px) {
  .nav-outlet {
    padding: 10px 10px;
    margin: auto;
  }
}
