
<div class="row fantasy-wrapper" *ngIf="isUserLoggedIn; else loginView">
  <nav class="col-xs-12 navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">FANTASY LEAGUE</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">HOME</a></li>
          <li><a href="#">LEADERBOARD</a></li>
          <li><a href="#">POINTS SYSTEM</a></li>
          <li><a href="#">LOGOUT</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<ng-template #loginView>
  <app-login></app-login>
</ng-template>


<router-outlet></router-outlet>
